:root {
  --pink-100: #e5266e;
  --red-900: #d90000;
  --dark-100: #d6dade;
  --dark-200: #6a6e72;
  --dark-900: #0c1014;
  --blue-400: #0848c0;
  --transition-main: all ease-in-out .2s;
}

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1220px;

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.body {
  position: relative;
}

.main {
  height: 1300px;
  padding: 25px;
  font-family: 'PT Sans', sans-serif;
  font-size: 24px;

  @media (min-width: $screen-md) {
    height: 1500px;
  }
}

.overlay {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  bottom: 0;
  z-index: 5;
  background: rgba(0, 0, 0, .42);
}

.modal {
  position: absolute;
  left: 50%;
  top: 25px;
  z-index: 9;
  width: 90%;
  max-width: 754px;
  padding: 15px 15px 25px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  transform: translateX(-50%);
  background: #fff;

  @media (min-width: $screen-sm) {
    top: 40px;
    padding: 40px 50px;
    max-width: $screen-sm;
  }

  @media (min-width: $screen-md) {
    top: 60px;
    padding: 53px 98px 70px 98px;
    max-width: 754px;
  }

  @media (min-width: $screen-lg) {
    top: 101px;
  }

  &__title {
    margin-top: 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 121%;
    color: #0c1014;

    @media (min-width: $screen-sm) {
      font-size: 28px;
    }

    @media (min-width: $screen-md) {
      margin-bottom: 35px;
    }
  }

  &__top-elems {
    @media (min-width: $screen-lg) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__file {
    @media (min-width: $screen-lg) {
      order: 2;
    }
  }

  &__info-elems {
    display: flex;
    flex-direction: column;

    @media (min-width: $screen-lg) {
      flex-basis: 362px;
      order: 1;
    }
  }

  &__submit {
    margin-top: 18px;
    margin-bottom: 15px;
  }
}

.file-upload {
  display: inline-block;
  cursor: pointer;
  margin-bottom: 25px;

  @media (min-width: $screen-lg) {
    padding-top: 3px;
    margin-bottom: 0;
  }

  &:hover {
    .file-upload__text {
      text-decoration: none;
    }
  }

  &__title {
    display: block;
    margin-bottom: 15px;
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 133%;
    color: var(--dark-200);

    @media (min-width: $screen-lg) {
      text-align: center;
    }

    &:first-letter {
      color: var(--red-900);
    }
  }

  &__image-wrap {
    display: block;
    position: relative;
  }

  &__close {
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 4px;
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: white url("images/close.svg") center center/15px no-repeat;
    transition: var(--transition-main);

    &:hover {
      background-color: var(--dark-100);
    }
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    border-radius: 50%;
    overflow: hidden;
    object-fit: contain;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  }

  &__text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 78px;

    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 18.6px;
    line-height: 150%;
    text-align: center;
    text-decoration-line: underline;
    color: #fff;

    background: url("images/upload-icon.svg") center top 40px/29px no-repeat;
  }

  [type="file"] {
    display: none;
  }
}

.input {
  width: 100%;
  height: 100%;
  padding: 17px 45px 16px 16px;
  border: 1px solid var(--dark-100);
  border-radius: 2px;

  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--dark-900);
  outline: none;
  transition: var(--transition-main);

  background-position: center right 16px;
  background-size: 18px;
  background-repeat: no-repeat;

  &--web {
    background-image: url('images/web.svg');
  }

  &--vk {
    background-image: url('images/vk.svg');
    background-position: center right 16px;
    background-size: 19px;
  }

  &--ok {
    background-image: url('images/ok.svg');
  }

  &--fb {
    background-image: url('images/fb.svg');
    background-position: center right 18px;
    background-size: 19px;
  }

  &--ig {
    background-image: url('images/ig.svg');
    background-position: center right 18px;
  }

  &--yt {
    background-image: url('images/yt.svg');
  }

  &:focus {
    box-shadow: inset 0 0 3px var(--blue-400);
  }

  &__label {
    position: relative;
    margin-bottom: 15px;

    @media (min-width: $screen-lg) {
      margin-bottom: 32.7px;
    }
  }

  &--titled {
    padding-top: 22.8px;
    padding-bottom: 10.8px;
  }

  &__title {
    position: absolute;
    top: 8px;
    left: 15px;

    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
    color: var(--dark-200);

    &:first-letter {
      color: var(--red-900);
    }

    &--simple:first-letter {
      color: inherit;
    }
  }
}

.select {
  appearance: none;
  border: 1px solid var(--dark-100);
  outline: 0;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  height: 56px;
  width: 100%;
  padding: 18px 16px 8px;

  background: url("images/arrow.svg") right 19px center/12px 11px no-repeat;
  color: var(--dark-900);
  border-radius: 2px;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &::-ms-expand {
    display: none;
  }

  &__label {
    position: relative;
    margin-bottom: 15px;

    @media (min-width: $screen-lg) {
      margin-bottom: 32.7px;
    }
  }

  &__title {
    position: absolute;
    top: 8px;
    left: 16px;

    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
    color: var(--dark-200);

    &:first-letter {
      color: var(--red-900);
    }
  }
}

.button {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 600;
  line-height: 112%;
  text-align: center;
  border: 1px solid var(--pink-100);
  cursor: pointer;
  transition: var(--transition-main);
  border-radius: 4px;

  &--main {
    padding: 14px 20px 16px;
    color: var(--pink-100);
    background: transparent;

    &:hover {
      background: var(--pink-100);
      color: #fff;
    }
  }

  &--solid {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--pink-100);
    color: white;
    padding: 13px 15px 15px;

    &:hover {
      background: white;
      color: var(--pink-100);
    }
  }

  &--simple {
    width: min-content;
    margin-left: auto;
    margin-right: auto;
    border: none;
    font-weight: 400;
    line-height: 150%;
    font-family: 'PT Sans', sans-serif;
    background: none;
    color: var(--blue-400);

    &:hover {
      text-decoration: underline;
    }
  }
}